.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
}

.board td:hover {
    background-color: lightsalmon;
}

.occupied {
    background-color: lightgray;
}
